#####################################################################
# 	LED Control
#####################################################################

[output_pin caselight]
pin: PA2
pwm:true
shutdown_value: 0
value:0.5
cycle_time: 0.01

[neopixel sb_leds]
pin: PB0
chain_count: 2
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0
initial_WHITE: 1.0

[gcode_macro _sb_vars]

variable_colors: {
        'nozzle': { # Colors for nozzle states
            'error': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w':0.0},            
            'heating': {'r': 1.0, 'g': 0.5, 'b': 0.0, 'w':0.0},
            'leveling': {'r': 0.0, 'g': 0.0, 'b': 1.0, 'w':0.0},
            'standby': {'r': 0.0, 'g': 1.0, 'b': 0.0, 'w':0.0},
            'printing': {'r': 1.0, 'g': 1.0, 'b': 1.0, 'w':1.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
        },

        'thermal': {
            'hot': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cold': {'r': 0.3, 'g': 0.0, 'b': 0.3, 'w': 0.0}
        }
    }

variable_nozzle_led_name:       "sb_leds"
# The name of the addressable LED chain that contains the nozzle LED(s). This will
# typically be the same LED chain as the logo.
variable_nozzle_idx:            "1,2"
# A comma-separated list of indexes of LEDs in the nozzle
gcode:
    # This section is required.  Do Not Delete.


[gcode_macro _set_sb_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = params.LED|string %}
    {% set idx = (params.IDX|string).split(',') %}
    {% set transmit_last = params.TRANSMIT|default(1) %}

    {% for led_index in idx %}
        {% set transmit=transmit_last if loop.last else 0 %}
        set_led led={led} red={red} green={green} blue={blue} white={white} index={led_index} transmit={transmit}
    {% endfor %}

[gcode_macro _set_sb_leds_by_name]
gcode:
    {% set leds_name = params.LEDS %}
    {% set color_name = params.COLOR %}
    {% set color = printer["gcode_macro _sb_vars"].colors[leds_name][color_name] %}
    {% set led = printer["gcode_macro _sb_vars"][leds_name + "_led_name"] %}
    {% set idx = printer["gcode_macro _sb_vars"][leds_name + "_idx"] %}
    {% set transmit = params.TRANSMIT|default(1) %}

    _set_sb_leds led={led} red={color.r} green={color.g} blue={color.b} white={color.w} idx="{idx}" transmit={transmit}

[gcode_macro _set_logo_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _sb_vars"].logo_led_name %}
    {% set idx = printer["gcode_macro _sb_vars"].logo_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}

    _set_sb_leds led={led} red={red} green={green} blue={blue} white={white} idx="{idx}" transmit={transmit}



[gcode_macro hotend_an]
gcode:
    }
    _set_sb_leds_by_name leds="nozzle" color="on" transmit=1

[gcode_macro hotend_aus]
gcode:
    
    _set_sb_leds_by_name leds="nozzle" color="off" transmit=1

[gcode_macro error]
gcode:
    _set_sb_leds_by_name leds="nozzle" color="error" transmit=1

[gcode_macro heating]
gcode:
    _set_sb_leds_by_name leds="nozzle" color="heating" transmit=1

[gcode_macro leveling]
gcode:
    _set_sb_leds_by_name leds="nozzle" color="leveling" transmit=1

[gcode_macro printing]
gcode:
    _set_sb_leds_by_name leds="nozzle" color="printing" transmit=1


[gcode_macro ready]
gcode:
    _set_sb_leds_by_name leds="nozzle" color="standby" transmit=1

